.title {
    font-weight: 700;
    font-size: 30px;
    color: #0D0D0D;
    text-align: center;
    margin-bottom: 0;
    text-transform: uppercase;
    &_left {
        color: #fff;
        font-size: 36px;
        text-align: left;
        line-height: 54px;
    }
}